html{
    background-color: #F2F2F2;
    color: #666;
}
.layui-fluid{
    padding: 15px;
}
.layui-card{
    margin-bottom: 15px;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
}

.layadmin-carousel {
    height: 185px !important;
    background-color: #fff
}

.layadmin-carousel .layui-carousel-ind li {
    background-color: #e2e2e2
}

.layadmin-carousel .layui-carousel-ind li:hover {
    background-color: #c2c2c2
}

.layadmin-carousel .layui-carousel-ind li.layui-this {
    background-color: #999
}

.layadmin-carousel .layui-carousel, .layadmin-carousel > [carousel-item] > * {
    background-color: #fff
}

.layadmin-carousel .layui-col-space10 {
    margin: 0
}

.layadmin-carousel .layui-carousel-ind {
    position: absolute;
    top: -41px;
    text-align: right
}

.layadmin-carousel .layui-carousel-ind ul {
    background: 0 0
}


.layadmin-carousel .layui-carousel-ind {
    position: absolute;
    top: -41px;
    text-align: right
}

.layadmin-carousel .layui-carousel-ind ul {
    background: 0 0
}

.layadmin-carousel .layui-carousel-ind li {
    background-color: #e2e2e2
}

.layadmin-carousel .layui-carousel-ind li:hover {
    background-color: #c2c2c2
}

.layadmin-carousel .layui-carousel-ind li.layui-this {
    background-color: #999
}

.layadmin-carousel .layui-carousel, .layadmin-carousel > [carousel-item] > * {
    background-color: #fff
}
.layadmin-carousel .layui-col-space10{
    margin: 0;
}

.layadmin-shortcut li {
    text-align: center
}

.layadmin-shortcut li .layui-icon {
    display: inline-block;
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border-radius: 2px;
    font-size: 30px;
    background-color: #F8F8F8;
    color: #333;
    transition: all .3s;
    -webkit-transition: all .3s
}

.layadmin-shortcut li cite {
    position: relative;
    top: 2px;
    display: block;
    color: #666;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 14px
}

.layadmin-shortcut li:hover .layui-icon {
    background-color: #f2f2f2
}

.layadmin-backlog .layadmin-backlog-body {
    display: block;
    padding: 10px 15px;
    background-color: #f8f8f8;
    color: #999;
    border-radius: 2px;
    transition: all .3s;
    -webkit-transition: all .3s
}

.layadmin-backlog-body h3 {
    padding-bottom: 10px;
    font-size: 12px
}

.layadmin-backlog-body p cite {
    font-style: normal;
    font-size: 30px;
    font-weight: 300;
    color: #009688
}

.layadmin-backlog-body:hover {
    background-color: #f2f2f2;
    color: #888
}
.layadmin-takerates {
    padding-top: 5px
}

.layadmin-takerates .layui-progress {
    margin: 50px 0 60px
}

.layadmin-takerates .layui-progress:last-child {
    margin-bottom: 10px
}

.layadmin-takerates .layui-progress h3 {
    position: absolute;
    right: 0;
    top: -35px;
    color: #999;
    font-size: 14px
}

.layadmin-takerates .layui-progress-bar {
    text-align: left
}

.layadmin-takerates .layui-progress-text {
    top: -35px;
    line-height: 26px;
    font-size: 26px
}

.layadmin-tabspage-none .layui-layout-admin .layui-header {
    border-bottom: none;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05)
}

. .layadmin-tabspage-none .layui-layout-admin .layui-body {
    top: 50px
}

.layadmin-tabspage-none .layadmin-header {
    display: block
}

.layadmin-tabspage-none .layadmin-header .layui-breadcrumb {
    border-top: 1px solid #f6f6f6
}
.layadmin-tabspage-none .layui-layout-admin .layui-header {
    border-bottom: none;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05)
}

.layadmin-tabspage-none .layui-layout-admin .layui-body {
    top: 50px
}

.layadmin-tabspage-none .layadmin-header {
    display: block
}

.layadmin-tabspage-none .layadmin-header .layui-breadcrumb {
    border-top: 1px solid #f6f6f6
}

.layui-layout-admin .layui-body {
    position: fixed;
    top: 60px;
    bottom: 0
}

.layadmin-pagetabs, .layui-layout-admin .layui-body, .layui-layout-admin .layui-footer, .layui-layout-admin .layui-layout-left {
    left: 200px
}

@media screen and (max-width: 992px) {
    .layui-layout-admin .layui-side {
        transform: translate3d(-20px, 0, 0);
        -webkit-transform: translate3d(-20px, 0, 0);
        width: 20px
    }

    .layadmin-pagetabs, .layui-layout-admin .layui-body, .layui-layout-admin .layui-footer, .layui-layout-admin .layui-layout-left {
        left: 0
    }
}

.layui-layout-admin .layui-body .layadmin-tabsbody-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    overflow-y: auto
}
.layadmin-tabspage-none .layui-layout-admin .layui-header {
    border-bottom: none;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05)
}

.layadmin-tabspage-none .layui-layout-admin .layui-body {
    top: 60px
}

.layadmin-tabspage-none .layadmin-header {
    display: block
}

.layadmin-tabspage-none .layadmin-header .layui-breadcrumb {
    border-top: 1px solid #f6f6f6
}


.layadmin-header {
    display: block;
    height: 50px;
    line-height: 50px;
    margin-bottom: 0;
    border-radius: 0
}

.layadmin-header .layui-breadcrumb {
    padding: 0 15px
}

.layui-card-header {
    position: relative
}

.layui-card-header.layuiadmin-card-header-auto {
    padding-top: 15px;
    padding-bottom: 15px;
    height: auto
}
.layuiadmin-card-header-auto .layui-form-item:last-child {
    margin-bottom: 0
}
.layui-form-item .layui-input-block .cur{
    cursor: text;
}
.layui-row .layui-text-l{
    padding-left: 2%;
}
.layadmin-tabsbody-item .layui-fluid .word{
    border-bottom: 1px solid #F2F2F2;
}
.layui-elem-quote .layui-btn-search{
    display: inline-block;
    height: 38px;
    line-height: 38px;
    padding: 0 18px;
    color: #fff;
    white-space: nowrap;
    text-align: center;
    font-size: 14px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}
.layui-form-item .layui-btn-searchSetup {
    display: inline-block;
    height: 38px;
    line-height: 38px;
    padding: 0 18px;
    color: #666;
    background-color: #fff;
    white-space: nowrap;
    text-align: center;
    font-size: 14px;
    border-radius: 2px;
    cursor: pointer;
    border: 1px solid #666666;
}
.layui-form-item .layui-btn-searchSetupBg{
    background-color: #009688;
    color: #fff;
    border: none;
}
.analysisButtonColor{
    background-color: #009688;
}
.layui-button-bgColor{
    background-color: #666;
}

.layui-card-body .layui-form-labelSet{
    float: left;
    display: block;
    padding: 9px 15px;
    width: 112px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
}
.layui-form-item  .layui-form-labelSet{
    float: left;
    display: block;
    width: 110px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    padding: 9px 0 9px 0;
}
.layui-card-body .layui-inlineSet{
    vertical-align: middle;
    margin-bottom: 5px;
    margin-right: 10px;
}
.layui-card-body .empty a{
    float: left;
    display: block;
    padding: 9px 15px;
    width: 90px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: red;
}
.Ontheborder{
    border-top:1px solid #F2F2F2;
    padding-left: 15px;
    padding-top: 15px;
    height: auto;
}
.layui-elem-field legend{
    margin-left: 20px;
    padding: 0 10px;
    font-size: 20px;
    font-weight: 300;
}
.layui-tab-content .layui-colla-titleStatic{
    position: relative;
    height: 42px;
    line-height: 42px;
    padding: 0 15px 0 35px;
    color: #fff;
    background-color: #009688;
    cursor: pointer;
    font-size: 14px;
    overflow: hidden;
    margin-bottom: 15px;
}
.layui-tab-content .layui-form-labelStatic{
    float: left;
    display: block;
    padding: 9px 15px;
    width: 80px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
}
.layui-tab-content .layui-input-inlineImg{
    float: left;
    width: 90px;
    margin-right: 10px;
    padding-top: 5px;
}
.layui-tab-content .layui-form-midText{
    float: left;
    display: block;
    padding: 9px 0!important;
    line-height: 20px;
    margin-right: 10px;
    color: #009688;
    cursor: pointer;
}
.layui-tab-content .pop-up{
    display: inline-block;
    margin-right: 3%;
}
.layui-tab-content .layui-form-radioPOP{
    line-height: 28px;
    margin: 6px 10px 0 0;
    padding-right: 10px;
    cursor: pointer;
    font-size: 0
}
.layui-tab-content .layui-input-inlinePop{
    float: left;
    width: 190px;
    margin-right: 10px;
}
.layui-tab-content .layui-input-blockPop{
    margin: 0 150px;
}
.layui-tab-content .layui-form-itemleft{
    margin-top: 3%;
    margin-left: 7%;
}
.my-skin .layui-layer-btn .layui-layer-btn0{
    background-color: #009688;
    border-color:#009688 ;
}
.layui-form-item .raning{
    width: auto;
}
.layui-input-inline .small{
    width: 38px !important;
    font-size: 100%!important;
    text-align: center!important;
    padding-left: 0;
}
.layui-form-item .raning{
    width: auto;
}
.layui-input-block .textA{
    width: 26.5%;
}
.layui-elem-quote .layui-text-2{
    padding-top: 15px;
    padding-left: 2%;
}
.layui-elem-quote .layuiadmin-card-header-auto{
    padding-top: 0;
    padding-bottom: 0;
}
.layui-logoC{
    background-color: #23262E !important;
    position: relative;
    left: 0;
    top: 0;
    width: 200px;
    height: 60px;
    box-sizing: border-box;
    overflow: hidden;
    font-weight: 300;
    background-repeat: no-repeat;
    background-position: center center;
    line-height: 50px;
    z-index: 1006;

}
.layui-headerC{
    border-bottom: none;
    background-color: #23262E;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    display: block;
    z-index: 1000;
}

.layui-layout-admin .layui-side{
    top: 0;
    z-index: 1001;
}
.navCo{
    background-color:#23262E ;
}
.layui-side-menu .layui-side-scroll{
    width: 200px;
}
.layui-elem-quoteTb{
    margin-bottom: 10px;
    padding: 15px;
    line-height: 22px;
    border-radius: 0 2px 2px 0;
    background-color: #f2f2f2;
}
.layui-form-item .layui-input-inlineLOGO{
    float: left;
    width: 300px;
    margin-right: 10px;
}
.layui-word-aux a{
    color: red;
}
.layui-form .dis{
    display: none;
}
.layui-input-blockAre{
    margin-left: 142px;
    min-height: 36px;
}
td select{
    height: 35px;
    line-height: 35px\9;
    padding: 2px 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #333;
    outline: 0;
}

.table td a {
    color: #23b7e5;
    text-decoration: none;
}