<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="__PUBLIC__/admin/layui/layui/css/layui.css" rel="stylesheet" />
    <link href="__PUBLIC__/admin/css/tai.css" rel="stylesheet" />
    <link href="__PUBLIC__/admin/css/popup.css" rel="stylesheet" />
    <script src="__PUBLIC__/admin/js/jquery.min.js"></script>
    <script src="__PUBLIC__/admin/layui/layui/layui.js"></script>
</head>
<body>
<div class="layui-fluid" style="display:block">
    <form class="layui-form" action="">
        <div class="layui-card">
            <div class="layui-form layui-card-header layuiadmin-card-header-auto" lay-filter="app-content-list">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <input type="hidden" name="id" value="{$datainfo['id']}">
                        <label class="layui-form-label">原文本</label>
                        <div class="layui-input-inline ccc">
                            <input type="text" name="oldtext" id="name" placeholder="请输入" autocomplete="off" class="layui-input" lay-verify="required" value="{$datainfo['original']}">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">替换的内容</label>
                        <div class="layui-input-inline ccc">
                            <input type="text" name="newtext"  placeholder="请输入" autocomplete="off" class="layui-input" value="{$datainfo['newtext']}">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">标题</label>
                        <div class="layui-input-inline ccc">
                            <input type="text" name="title" placeholder="请输入" autocomplete="off" class="layui-input" value="{$datainfo['titile']}">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">链接地址</label>
                        <div class="layui-input-inline ccc">
                            <input type="text" name="Chained"  placeholder="请输入" autocomplete="off" class="layui-input" value="{$datainfo['chained']}">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item Ontheborder">
                    <div class="layui-input-inline ">
                        <button class="layui-btn"  lay-filter="service_save" lay-submit="service_save"> 保存</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>

<script>
        layui.use('form', function () {
            var form = layui.form
                ,layer = layui.layer;
            form.on('submit(service_save)', function (data) {
                //表单数据formData
                var formData = data.field;
                $.ajax({
                    url: "{:U('marketing/anchorupdate')}",
                    data: formData,
                    type: 'post',
                    success: function (data) {
                        if (data.status==1) {
                            layer.msg(data.info,{time:1500},function () {
                                window.parent.location.reload();//刷新父页面
                                layer.closeAll();
                            });
                        }
                        else {
                            layer.msg(data.info)
                        }
                    }
                },'json')
                //阻止表单跳转
                return false;
            });
        });


</script>


